<template>
    <v-content>
        <h1>This is {{name}}</h1>
    </v-content>
</template>
<script>
    export default {
        data() {
            return {
                name: 'Thomas'
            }
        }
    }
</script>
