<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <v-container text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 mb-3>
                <search-term :value="hiddenterm"></search-term>
            </v-flex>
            <v-flex md6>
                <hangman-image :mistrials="mistrials"
                               class="hidden-sm"
                >
                </hangman-image>
            </v-flex>
            <v-flex md6 xs12>
                <hangman-keyboard :letters="validLetters"
                                  @keyClicked="onKeyClicked">

                </hangman-keyboard>
            </v-flex>
        </v-layout>

        <v-layout row justify-center>
            <v-dialog v-model="isDialogVisible" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">{{dialogTitle}}</v-card-title>
                    <v-card-text>
                        <p>Der gesuchte Begriff war:</p>
                        <p class="dialogterm">{{currentTerm}}</p>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" flat @click="next">Weiter</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>

    </v-container>
</template>

<script>

    import HangmanImage from '../components/HangmanImage'
    import HangmanKeyboard from '../components/HangmanKeyboard'
    import SearchTerm from '../components/SearchTerm'

    import {eventbus} from '../helper/eventbus'

    export default {
        components: {
            HangmanImage,
            HangmanKeyboard,
            SearchTerm,
        },
        data() {
            return {
                currentTerm: null,
                validLetters: 'ABCDEFGHIJKLMNOPQRSTUVWXYZÄÖÜß',
                guessedLetters: [],
                mistrials: 0,
                isDialogVisible: false,
                dialogTitle: ''
            }
        },
        computed: {
            hiddenterm() {
                console.log('hiddenterm', this.searchTerm())
                if (this.searchTerm()) {
                    return this.searchTerm()
                        .split('')
                        .map((ltr) => this.computeHiddenLetter(ltr))
                        .join('')
                }
            }
        },
        created() {
        },
        methods: {
            onKeyClicked(letter) {
                if (this.isLetterInSearchterm(letter)) {
                    this.guessedLetters.push(letter)
                    if (this.checkGameWon()) {
                        this.handleGameWon()
                    }
                } else {
                    this.mistrials++
                    const MAX_MISTRIALS = 7
                    if (this.mistrials === MAX_MISTRIALS) {
                        this.handleGameLost()
                    }

                }
            },
            computeHiddenLetter(letter) {
                if (!this.validLetters.includes(letter)
                    || this.guessedLetters.includes(letter)) {
                    return letter
                } else {
                    return '*'
                }
            },
            isLetterInSearchterm(letter) {
                return this.searchTerm().split('').includes(letter);
            },
            searchTerm() {
                if (!this.currentTerm) {
                    console.log('in searchterm')
                    const terms = this.$store.getters.allTerms
                    const randomIndex = Math.floor(Math.random() * terms.length)
                    this.currentTerm = terms[randomIndex]
                }
                return this.currentTerm
            },
            checkGameWon() {
                return !this.hiddenterm.includes('*')
            },
            handleGameLost() {
                this.showNewGameDialog('Verloren!')
            },
            handleGameWon() {
                this.showNewGameDialog('Gewonnen!')
            },
            showNewGameDialog(msg) {
                this.dialogTitle = msg
                this.isDialogVisible = true
            },
            resetGame() {
                this.currentTerm = null
                this.guessedLetters = []
                this.mistrials = 0
                eventbus.$emit('resetGame')
            },
            next() {
                this.isDialogVisible = false
                this.resetGame()
            }
        }
    }
</script>

<style scoped>
    .dialogterm {
        text-align: center;
    }
</style>
