<template>
    <ul>
        <li v-for="key in keys" :key="key.letter">
            <v-btn :disabled="key.clicked"
                   @click.prevent="onClick(key.letter, $event)">
                {{key.letter}}
            </v-btn>
        </li>
    </ul>

</template>
<script>

    import {eventbus} from '../helper/eventbus'

    export default {
        name: "HangmanKeyboard",
        props: {
            letters: {
                type: String
            }
        },
        data() {
            return {
                keys: [],
            }
        },
        methods: {
            onClick(letter, event) {
                this.keys = this.keys.map((k => {
                    if (letter === k.letter) {
                        k.clicked = true
                        this.$emit('keyClicked', k.letter)
                    }
                    return k
                }))
            },
            reset() {
                if (this.keys.length === 0) {
                    this.letters.split('').forEach(letter => {
                            this.keys.push({'letter': letter, 'clicked': false})
                        }
                    )
                } else {
                    this.keys.forEach((key) => {
                        key.clicked = false
                    })
                }
            }
        },
        created() {
            eventbus.$on('resetGame', () => {
                this.reset()
            })
            this.reset()
        },

    }
</script>

<style scoped>
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
    }

    li {
        display: block;
    }
</style>
