<template>
    <v-img
            :src="imagePath"
    ></v-img>
</template>

<script>
    export default {
        name: "HangmanImage",
        props: {
            mistrials: {
                type: Number,
                default: 0
            },
            pathPrefix: {
                type: String,
                default: '/images/hangman_'
            },
            pathSuffix: {
                type: String,
                default: '.png'
            }
        },
        computed: {
            imagePath() {
                return `${this.pathPrefix}${this.mistrials}${this.pathSuffix}`
            }
        }
    }
</script>

<style scoped>

</style>
