<template>
    <v-card>
        <v-card-title>Suchbegriff</v-card-title>
        <v-card-text class="searchterm">{{value}}</v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "SearchTerm",
        props: {
            value: {
                type: String
            }
        }
    }
</script>

<style scoped>
.searchterm {
    font-size: 2.5rem;
    letter-spacing: .3em;
}
</style>
