<template>
    <v-app>
        <v-toolbar app>
            <v-toolbar-title class="headline text-uppercase">
                <span>Vue-Hangman</span>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn>Neues Spiel</v-btn>
        </v-toolbar>
        <v-content>
            <router-view></router-view>
        </v-content>
    </v-app>

</template>

<script>

    export default {
        name: 'App',
        components: {
        },
        data() {
            return {
            }
        }
    }
</script>
